<div class="row mb-5">
    <h1 class="display-4">Add new</h1>
</div>
<div class="row">
    <div class="col-6 col-md-4">
        <form [formGroup]="addSnippet" (ngSubmit)="onSubmit()">
            <!-- title -->
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" formControlName="title">
                <div class="invalid-feedback">
                    Please enter string.
                </div>
            </div>

            <div class="form-group">
                <label for="description">Snippet description</label>
                <input type="text" class="form-control" id="description" formControlName="description">
                <div class="invalid-feedback">
                    Please enter string.
                </div>
            </div>

            <div class="form-group">
                <label for="lang">Snippet language</label>
                <select class="form-control" id="lang" formControlName="lang">
                    <option>Javascript</option>
                    <option>TypeScript</option>
                    <option>HTML</option>
                    <option>CSS</option>
                    <option>php</option>
                </select>
            </div>
            <!-- <div class="form-group">
                <label for="body">Sniipet:</label>
                <textarea name="" id="body" cols="30" rows="10" formControlName="body" ></textarea>
            </div> -->
            <code>vnjdf</code>

            <ngx-codemirror [(ngModel)]="example.body" formControlName="body" [options]="{
              lineNumbers: true,
              theme: 'material',
              mode: 'markdown'
            }">
            </ngx-codemirror>


            <button class="btn btn-lg btn-block" type="submit">Save</button>
        </form>
    </div>
</div>