<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
    <div class="form-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input formControlName="email" type="email" id="inputEmail" class="is-invalid form-control" placeholder="Email address"
            required />
        <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
            class="alert alert-danger">
            Provide valid email
        </div>
        <!-- {{email.errors}} -->
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                    </svg>
                </span>
            </div>
            <input formControlName="password" type="password" id="inputPassword" class="is-valid form-control"
                placeholder="Password" required />
            <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
                class="alert alert-danger">
                <div *ngIf="loginForm.controls.password.errors.minlength">
                    Name must be at least 8 characters long.
                </div>
                <div *ngIf="loginForm.controls.password.errors.passwordStrength">
                    {{loginForm.controls.password.errors.passwordStrength}}
                </div>
            </div>
        </div>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div class="restore-password d-flex flex-column align-content-center ">
        <a class="btn btn-link m-0 p-0" routerLink="/restore/email">Restore password</a>
    </div>
</form>