<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
    <div class="form-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
            required="" autofocus="">
    </div>
    <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
            required="">
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit"  [disabled]="!loginForm.valid">Sign in</button>
    <div class="restore-password d-flex flex-column align-content-center ">
        <a class="btn btn-link m-0 p-0" routerLink="/restore/email">Restore password</a>
    </div>
</form>