<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
    </div>

    <div class="form-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
            required />
        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
            class="invalid-feedback">
            Provide valid email
        </div>
        <!-- {{email.errors}} -->
    </div>
    <div class="form-group">
        <div class="input-group">
            <input #passwordField formControlName="password" type="password" id="inputPassword" class="form-control"
                placeholder="Password" required />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2" (click)="showHidePass(passwordField)">
                    <svg *ngIf="!passwordHidden" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                    </svg>
                    <svg *ngIf="passwordHidden" width="1em" height="1em" viewBox="0 0 16 16"
                        class="bi bi-eye-slash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                        <path
                            d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z" />
                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z" />
                    </svg>
                </span>
            </div>
        </div>
        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
            class="invalid-feedback" style="display: block;">
            <span *ngIf="f.password.errors.minlength">
                Name must be at least 8 characters long.
            </span><br>
            <span *ngIf="f.password.errors.passwordStrength">
                {{f.password.errors.passwordStrength}}
            </span>
        </div>
    </div>
    <!-- <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
    <div class="restore-password d-flex flex-column align-content-center ">
        <a class="btn btn-link m-0 p-0" routerLink="/restore/email">Restore password</a>
    </div>
</form>